@*  The view for the Payment/Delete action. Displays a Delete Payment page that confirms the deletion. *@
@model Payment
@{
    ViewBag.Title = "Delete Payment";
}

<div class="jumbotron alert-danger mt-4">
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete the payment '@Model.PaymentID'?</p>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="PaymentID" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-action="List" class="btn btn-primary">Cancel</a>
    </form>
</div>
