@*  The view for the About page *@
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron bg-success mt-4">
    <h1 class="text-light">About</h1>
    <p class="text-light text-wrap">
        Jasper Green (JG) is a mowing and lawn care service provider located in College Station, Texas.
        Jasper Green is owned and operated by Jasper Jones and his four brothers. 
        JG has been in business for many years and provides services for both residential and commerical properties.
    </p>
</div>
