@*  The view for the Save action *@
@{
    ViewData["Title"] = "Save";
}

<div class="jumbotron bg-success mt-4">
    <h1 class="text-light">Contact Mesage Submitted</h1>
    <p class="text-light">Thank you! A Jasper Green professional will contact you shortly.</p>
</div>
