@*  The view for the Customer/AddEdit action. Displays the Add/Edit Customer page *@
@model Customer
@{
    string title = ViewBag.Action + " Customer";
    ViewBag.Title = title;
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="Save" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row form-group">
        <label asp-for="Name" class="col-sm-3">Name</label>
        <div class="col-sm-6">
            <input asp-for="Name" class="form-control">
        </div>
        <div class="col">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="BillingAddress" class="col-sm-3">Billing Address</label>
        <div class="col-sm-6">
            <input asp-for="BillingAddress" class="form-control">
        </div>
        <div class="col">
            <span asp-validation-for="BillingAddress" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="BillingCity" class="col-sm-3">Billing City</label>
        <div class="col-sm-6">
            <input asp-for="BillingCity" class="form-control">
        </div>
        <div class="col">
            <span asp-validation-for="BillingCity" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="StateID" class="col-sm-3">Billing State</label>
        <div class="col-sm-6">
            <select asp-for="StateID"
                    asp-items="@(new SelectList(ViewBag.States,
                         "StateID", "Name", Model.StateID))"
                    class="form-control">
                <option value="">Select a state...</option>
            </select>
        </div>
        <div class="col">
            <span asp-validation-for="StateID" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="BillingZIP" class="col-sm-3">Billing ZIP</label>
        <div class="col-sm-6">
            <input asp-for="BillingZIP" class="form-control">
        </div>
        <div class="col">
            <span asp-validation-for="BillingZIP" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="PhoneNumber" class="col-sm-3">Phone</label>
        <div class="col-sm-6">
            <input asp-for="PhoneNumber" class="form-control">
        </div>
        <div class="col">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <input type="hidden" asp-for="CustomerID" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>
